/* -------------------------------------------------*/
/* Variables*/
/* -------------------------------------------------*/

:root{
    --main-bg-color:#414A9F;
    --main-txt-color:#F6ABCC;
}

/* -------------------------------------------------*/
/* Basic Set-Up*/
/* -------------------------------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color: var(--main-bg-color);
    color:#fff;
    font-family:'Lato', sans-serif;
    font-weight:300;
    font-size:20px;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------------------*/
/* Reusable Comp.*/
/* -------------------------------------------------*/

.row{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}


/*-----------Heading-------------*/

h1{
    margin:0;
    font-size:260%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.main-nav li a:link,
.main-nav li a:visited,
.menu li a:link,
.menu li a:visited,
label a:link,
label a:visited{
    text-transform: uppercase;
    font-size:90%;
    color: #fff;
    text-decoration: none;    
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active,
.menu li a:hover,
.menu li a:active,
label a:hover,
label a:active{
    border-bottom: 2px solid var(--main-txt-color);
    color: var(--main-txt-color);
    padding-bottom: 2px;
}

/* -------------------------------------------------*/
/* Header*/
/* -------------------------------------------------*/


header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.75)), url(img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hero-text-box{
    position: absolute;
    width: 100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.logo{
    height:130px;
    width: auto;
    float:left;
    margin: 20px;
}

.main-nav{
    float:right;
    list-style: none;
    margin-top: 60px;
    margin-right:45px;
}

.main-nav li{
    display:inline-block;
    margin-left: 35px;
}


/* -------------------------------------------------*/
/* Food*/
/* -------------------------------------------------*/

.menu-section-dinner{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top:30px;
    padding-bottom: 40px;
}

.page-title{
    text-align: center;
    color: var(--main-txt-color);
    padding: 75px 0px 30px 0px;
    font-size: 1rem;
}

.menu-intro{
    text-align: center;
    padding-bottom: 50px;
}

.sub-menu hr{
    width: 91%;
    margin-top: 10px;
}

.sub-menu-items{
    display:grid;
    grid-template-columns: 5fr 1fr;
    padding-right:40px;
    padding-top:10px;
}

.item-price{
    text-align: end;
}

.sub-menu li{
    list-style: none;
    padding-bottom: 20px;
}


/* -------------------------------------------------*/
/* A Little About Us*/
/* -------------------------------------------------*/


.section-info h2{
    text-align: center;
    padding:75px 50px 25px 50px;
    font-weight: 600;
    color: var(--main-txt-color);

}

.section-info .details{
    text-align: center;
    padding: 0px 20px 75px 20px;
    word-spacing: 2px;
}

.info-img{text-align: center;}

img{ max-width: 80%;}

.contact,
.address,
.hours,
.drop-down{ padding:20px 10%;;}

.menu li{
    list-style: none;
    padding:5px 0px 5px 10%;
}

label a{
    color:#fff;
    background-color: var(--main-bg-color);
    text-decoration: none;
    cursor: pointer;
    margin-left: 10%;
}

.menu{visibility:hidden;}

#toggler{visibility:hidden;}

#toggler:checked~.menu{visibility: visible;}

/* -------------------------------------------------*/
/* Press*/
/* -------------------------------------------------*/



.press h2{
    text-align: center;
    padding: 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--main-txt-color);
}


.list{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap:50px;
    padding-bottom: 200px;
}

.list h3{
    padding: 15px 0px;
    font-weight: 300;
}

.list p{
    width:100%;
    word-spacing: 2px;
    font-size:0.8rem
}


.list a:link, 
.list a:visited{
    font-size:100%;
    color:#fff;
    text-decoration: none;    
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.list a:hover,
.list a:active{color: var(--main-txt-color);}


/* -------------------------------------------------*/
/* Media Queres */
/* -------------------------------------------------*/

@media(max-width:768px){
    .row{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .logo{
        margin: 50px 150px;
    }
    
    .hero-text-box{
        width: 100%;
        margin:0px 10px;
    }
    
    .main-nav{
        display: none;
    }
    
    .section-info .details{
        text-align: center;
        padding: 0px 0px 75px 20px;
        word-spacing: 2px;
    }
    
    img{ max-width: 90%;}
    
    .contact,
    .address,
    .hours,
    .drop-down{ padding:20px 5%;;}

    .menu li{
        list-style: none;
        padding:5px 0px 5px 5%;
    }
    
    label a{ margin-left: 5%;}
    
    .list{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
        grid-gap:50px;
        padding-bottom: 200px;
    }

    .list p{
        width: 100%;
        word-spacing: 2px;
    }

}

@media(max-width:414px){
    header{
        height: 100vh;
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    
    
    .logo{
        height:130px;
        padding: 30px 10px;
        display: block;
        margin: 20vh auto;
    }
    
    .hero-text-box{
        font-size: 0.5rem;
        display: block;
        margin-left: 50px;
    }
    
    .list{
        display:grid;
        grid-template-columns: 1fr;
        grid-gap:10px;
        padding-bottom: 200px;
    }

    .menu-section-dinner{
        display:grid;
        grid-template-columns:1fr;
        padding-left: 10%;    
    }
    
    .sub-menu-items{padding-bottom: 30px;}
    
    .section-info .details{
        padding: 0px 0px 50px 0px;
        word-spacing: 2px;
        font-size: 0.85rem;
    }
}




























